body {
    margin: 0;
    padding: 0;
    background-color: #2e5930;
}

.intro {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-left: 20px;
    color: #ff00ff;
    text-align: center;
}

.intro1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 70px;
    color: #ff00ff;
    text-align: center;
}

.para {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: #d298d2;
    
}

.clr-btn {
    border: 2px solid #ff00ff;
    background-color: #1e4620;
    color: #d298d2;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}


.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}




.clr-btn:hover {
    border: 2px solid #ff00ff;
    background-color: #d298d2;
    color: #1e4620;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}